<h2 style="margin-top: 35px;">Tabela Brasileirão</h2>
<ul class="ranking-list">
    <li class="ranking-item"><span>1. Palmeiras</span> <strong>47 pts</strong></li>
    <li class="ranking-item"><span>2. Flamengo</span> <strong>39 pts</strong></li>
    <li class="ranking-item"><span>3. Athletico-PR</span> <strong>37 pts</strong></li>
    <li class="ranking-item"><span>4. Fluminense</span> <strong>34 pts</strong></li>
    <li class="ranking-item"><span>5. Bahia</span> <strong>32 pts</strong></li>
    <li class="ranking-item"><span>6. Red Bull Bragantino</span> <strong>31 pts</strong></li>
    <li class="ranking-item"><span>7. Cruzeiro</span> <strong>30 pts</strong></li>
    <li class="ranking-item"><span>8. Botafogo</span> <strong>29 pts</strong></li>
    <li class="ranking-item"><span>9. Corinthians</span> <strong>29 pts</strong></li>
    <li class="ranking-item"><span>10. Atlético-MG</span> <strong>28 pts</strong></li>
    <li class="ranking-item"><span>11. Coritiba</span> <strong>27 pts</strong></li>
    <li class="ranking-item"><span>12. São Paulo</span> <strong>26 pts</strong></li>
    <li class="ranking-item"><span>13. Vitória</span> <strong>26 pts</strong></li>
    <li class="ranking-item"><span>14. Mirassol</span> <strong>23 pts</strong></li>
    <li class="ranking-item"><span>15. Santos</span> <strong>22 pts</strong></li>
    <li class="ranking-item"><span>16. Internacional</span> <strong>22 pts</strong></li>
    <li class="ranking-item"><span>17. Grêmio</span> <strong>22 pts</strong></li>
    <li class="ranking-item"><span>18. Vasco</span> <strong>21 pts</strong></li>
    <li class="ranking-item"><span>19. Remo</span> <strong>21 pts</strong></li>
    <li class="ranking-item"><span>20. Chapecoense</span> <strong>10 pts</strong></li>

</ul>