<h2 style="margin-top: 35px;">Tabela Brasileirão</h2>
<ul class="ranking-list">
    <li class="ranking-item"><span>1. Palmeiras</span> <strong>41 pts</strong></li>
    <li class="ranking-item"><span>2. Flamengo</span> <strong>34 pts</strong></li>
    <li class="ranking-item"><span>3. Fluminense</span> <strong>31 pts</strong></li>
    <li class="ranking-item"><span>4. Athetico-PR</span> <strong>30 pts</strong></li>
    <li class="ranking-item"><span>5. RB Bragantino</span> <strong>29 pts</strong></li>
    <li class="ranking-item"><span>6. Bahia</span> <strong>26 pts</strong></li>
    <li class="ranking-item"><span>7. Coritiba</span> <strong>26 pts</strong></li>
    <li class="ranking-item"><span>8. São Paulo</span> <strong>25 pts</strong></li>
    <li class="ranking-item"><span>9. Atlético-MG</span> <strong>24 pts</strong></li>
    <li class="ranking-item"><span>10. Corinthians</span> <strong>24 pts</strong></li>
    <li class="ranking-item"><span>11. Cruzeiro</span> <strong>24 pts</strong></li>
    <li class="ranking-item"><span>12. Botafogo</span> <strong>22 pts</strong></li>
    <li class="ranking-item"><span>13. Vitória</span> <strong>22 pts</strong></li>
    <li class="ranking-item"><span>14. Internacional</span> <strong>21 pts</strong></li>
    <li class="ranking-item"><span>15. Santos</span> <strong>21 pts</strong></li>
    <li class="ranking-item"><span>16. Grêmio</span> <strong>21 pts</strong></li>
    <li class="ranking-item"><span>17. Vasco</span> <strong>20 pts</strong></li>
    <li class="ranking-item"><span>18. Remo</span> <strong>18 pts</strong></li>
    <li class="ranking-item"><span>19. Mirassol</span> <strong>16 pts</strong></li>
    <li class="ranking-item"><span>20. Chapecoense</span> <strong>9 pts</strong></li>
</ul>